<mk-layout-wrapper>

  <app-layout-header></app-layout-header>

  <mk-layout-sidebar-left>
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/img/user2-160x160.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{getNomeUsuario()}}</p>
        <a (click)="logout()" class="btn-logout">Sair</a>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="header">
        <span>MAIN NAVIGATION</span>
      </li>

      <li class="">
        <a [routerLink]="['/egresso/atualizar']" routerLinkActive="active">
          <i class="fa fa-user"></i>
          <span>Editar perfil</span>
        </a>
      </li>
      <li class="">
        <a [routerLink]="['/egresso/consulta/distribuicao-geografica']" routerLinkActive="active">
          <i class="fa fa-search"></i>
          <span>Consulta distrib. geográfica</span>
        </a>
      </li>
      <li class="">
        <a [routerLink]="['/egresso/consulta/faixa-salarial']" routerLinkActive="active">
          <i class="fa fa-search"></i>
          <span>Consulta faixa salarial</span>
        </a>
      </li>
      <li class="">
        <a [routerLink]="['/egresso/consulta/atuacao-profissional']" routerLinkActive="active">
          <i class="fa fa-search"></i>
          <span>Consulta atuação prof.</span>
        </a>
      </li>
      <li class="">
        <a [routerLink]="['/egresso/consulta/formacao-academica']" routerLinkActive="active">
          <i class="fa fa-search"></i>
          <span>Consulta form. acadêmica</span>
        </a>
      </li>
    </ul>
  </mk-layout-sidebar-left>

  <mk-layout-content>
    <router-outlet></router-outlet>
  </mk-layout-content>

  <app-layout-footer></app-layout-footer>

</mk-layout-wrapper>
