<mk-layout-wrapper>

  <app-layout-header></app-layout-header>

  <mk-layout-sidebar-left>
    <ul class="sidebar-menu">
      <li class="header">
        <span>MAIN NAVIGATION</span>
      </li>
      <li class="">
        <a [routerLink]="['/coord/atuacoes-profissionais']" routerLinkActive="active">
          <i class="glyphicon glyphicon-briefcase"></i>
          <span>Atuações profissionais</span>
        </a>
      </li>
      <li class="">
        <a [routerLink]="['/coord/egressos']" routerLinkActive="active">
          <i class="fa fa-graduation-cap"></i>
          <span>Cadastrar egressos</span>
        </a>
      </li>
      <li class="">
        <a [routerLink]="['/coord/consulta/distribuicao-geografica']" routerLinkActive="active">
          <i class="fa fa-search"></i>
          <span>Consulta distrib. geográfica</span>
        </a>
      </li>
      <li class="">
        <a [routerLink]="['/coord/consulta/faixa-salarial']" routerLinkActive="active">
          <i class="fa fa-search"></i>
          <span>Consulta faixa salarial</span>
        </a>
      </li>
      <li class="">
        <a [routerLink]="['/coord/consulta/atuacao-profissional']" routerLinkActive="active">
          <i class="fa fa-search"></i>
          <span>Consulta atuação prof.</span>
        </a>
      </li>
    </ul>
  </mk-layout-sidebar-left>

  <mk-layout-content>
    <router-outlet></router-outlet>
  </mk-layout-content>

  <app-layout-footer></app-layout-footer>

</mk-layout-wrapper>
