<mk-box header=''
        [isRemovable]='false'
        [isCollapsable]='false'
        [isSolid]='true'>
  <!--
  <mk-box-header>HTML Box header</mk-box-header>
  <mk-box-tools isCollapsable='false'>

  </mk-box-tools>
-->
  <mk-box-content>

    <br />

    <a class="btn btn-success" [routerLink]="['/admin/coordenadores-add']"  title="Incluir novo coordenador"><i class="glyphicon glyphicon-plus"></i></a>

    <br /><br /><br />

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Curso</th>
            <th>Alterar</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coordenador of coordenadores" >
            <td>{{coordenador.coordenadorCpf}}</td>
            <td>{{coordenador.coordenadorNome}}</td>
            <td>{{coordenador.coordenadorEmail}}</td>
            <td *ngIf="coordenador.coordenadorOferta">{{coordenador.coordenadorOferta.ofertaCurso.cursoNome}} - {{coordenador.coordenadorOferta.ofertaCampus.campusNome}}</td>
            <td *ngIf="!coordenador.coordenadorOferta">-</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </mk-box-content>

</mk-box>
