<mk-box header='' [isRemovable]='false' [isCollapsable]='false'>

  <mk-box-header>{{title}}</mk-box-header>

  <mk-box-content>

    <div>

      <form [formGroup]="consultaForm" class="form-horizontal" role="form" novalidate (ngSubmit)="consultar()">

        <!-- Campo Nome -->
        <div class="form-group">
          <label for="tipoAno" class="col-sm-2 control-label">Tipo de ano</label>
          <div class="col-sm-10">
            <select class="form-control" formControlName="tipoAno">
              <option value="1">Ano de ingresso na graduação</option>
              <option value="2">Ano de conclusão da graduação</option>
            </select>
          </div>
        </div>


        <div class="form-group" *ngIf="consultaForm.controls.tipoAno.value == '1'" [class.has-error]="consultaForm.controls.anosIngresso.errors && (consultaForm.controls.anosIngresso.touched)">
          <label class="col-sm-2 control-label">Ano(s) de ingresso</label>
          <div class="col-sm-10">
            <ng-select [items]="anosIngresso" [multiple]="true" [closeOnSelect]="false" placeholder="Selecione o(s) ano(s) de ingresso"
              formControlName="anosIngresso">
            </ng-select>
            <app-control-messages [control]="consultaForm.controls.anosIngresso"></app-control-messages>
          </div>
        </div>

        <div class="form-group" *ngIf="consultaForm.controls.tipoAno.value == '2'" [class.has-error]="consultaForm.controls.anosConclusao.errors && (consultaForm.controls.anosConclusao.touched)">
          <label class="col-sm-2 control-label">Ano(s) de conclusão</label>
          <div class="col-sm-10">
            <ng-select [items]="anosConclusao" [multiple]="true" [closeOnSelect]="false" placeholder="Selecione o(s) ano(s) de conclusão"
              formControlName="anosConclusao">
            </ng-select>
            <app-control-messages [control]="consultaForm.controls.anosConclusao"></app-control-messages>
          </div>
        </div>

        <div class="form-group" [class.has-error]="consultaForm.controls.setorAtuacao.errors && (consultaForm.controls.setorAtuacao.touched)">
          <label for="tipoAno" class="col-sm-2 control-label">Setor de atuação</label>
          <div class="col-sm-10">
            <select class="form-control" formControlName="setorAtuacao">
              <option value=""></option>
              <option value="1">Público</option>
              <option value="2">Privado</option>
            </select>
            <app-control-messages [control]="consultaForm.controls.setorAtuacao"></app-control-messages>
          </div>
        </div>

        <!-- Botão Cancelar-->
        <!-- Botão Cadastrar-->

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">{{btndescricao}}</button>
          </div>

        </div>

      </form>

    </div>
    <hr />

    <div class="alert alert-default">
      <div class="text-bold">{{msg33}} {{totalEgressos(consultasAtuacaoProfissional)}}</div>
      <p class="text-small">
        {{msg34}}
      </p>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Atuação profissional</th>
            <th>Quantidade de egressos</th>
            <th>Média salarial</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cap of consultasAtuacaoProfissional">
            <td>{{cap.atuacaoprofissional}}</td>
            <td>{{cap.quantidade}}</td>
            <td>{{cap.mediasalarial |currency: 'BRL': true}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </mk-box-content>


</mk-box>
