.tab-content{
  min-height: 300px;
  padding-top: 15px;
}

.tab-label-title{
  padding-left: 5px;
  text-transform: uppercase;
  font-size: .8em;
}

.iptFotoPerfil{
  margin: 30px 0!important;
  text-align: center;
}

.preview-foto-perfil{
  width: 120px;
  height: 120px;
  margin: 5px auto;
  border: 1px solid #ccc;
}

.preview-foto-perfil img{
  width: 118px;
  height: 118px;
}

.preview-foto-perfil i{
  font-size: 80px;
  margin-top: 30px;
  color: #ccc;
}

.iptFotoPerfil > button{
  width: 120px !important;
  border-radius: 5px;
}

.tab-footer{
  border-top: 1px solid #ededed;
  text-align: right;
  padding: 20px 0 10px 0;
}

.tab-footer .btn{
  margin: 0 5px;
}
.input-group-addon{
  border-color: gray;
  background-color: #ccc;
}

.row-foto-galeria textarea{

}

.preview-foto-galeria{
  width: 95%;
  margin: 0 auto;
  background-color: #ededed;
  min-height: 80px;
  text-align: center;
}

.preview-foto-galeria i{
  font-size: 80px;
  margin: 15px auto;
  color: #ccc;
}
.preview-foto-galeria img{
  width: 100%;
  margin: 0 auto;
}

.btnupl-galeria{
  width: 80%;
  margin: 5px 10% 15px 10% !important;
  border-radius: 8px;
}

.pad0{
  padding: 0;
}
