<mk-box header='' [isRemovable]='false' [isCollapsable]='false'>

  <mk-box-header>{{title}}</mk-box-header>

  <mk-box-content>


    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Tab 1">
        <ng-template mat-tab-label>
          <i class="glyphicon glyphicon-camera"></i>
          <span class="tab-label-title">Foto Perfil</span>
        </ng-template>
        <div class="tab-content">
          <div class="iptFotoPerfil">
            <div class="preview-foto-perfil">
              <i *ngIf="!getUrlFoto()" class="glyphicon glyphicon-user"></i>
              <img *ngIf="getUrlFoto()" [src]="getUrlFoto()" accept="image/*">
            </div>
            <input type="file" class="hidden" #fotoPerfil (change)="showPreview($event)">
            <button mat-raised-button color="primary" (click)="fotoPerfil.click()">Upload</button>
          </div>


        </div>
        <div class="tab-footer">
          <button class="btn default">Cancelar</button>
          <button class="btn btn-success" (click)="alterarFotoPerfil()">Alterar</button>
        </div>
      </mat-tab>
      <mat-tab label="Tab 1">
        <ng-template mat-tab-label>
          <i class="glyphicon glyphicon-user"></i>
          <span class="tab-label-title">Dados Pessoais</span>
        </ng-template>
        <div class="tab-content">
          <div class="col-lg-12">
            <form [formGroup]="egressoFormDP" class="form-horizontal" role="form" novalidate>

              <div class="form-group" [class.has-error]="egressoFormDP.controls.nome.errors && (egressoFormDP.controls.nome.touched)">
                <label class="col-sm-2 control-label">Nome completo </label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" formControlName="nome">
                  <app-control-messages [control]="egressoFormDP.controls.nome"></app-control-messages>
                </div>
              </div>

              <div class="form-group" [class.has-error]="egressoFormDP.controls.email.errors && (egressoFormDP.controls.email.touched)">
                <label class="col-sm-2 control-label">E-mail </label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" formControlName="email">
                  <app-control-messages [control]="egressoFormDP.controls.email"></app-control-messages>
                </div>
              </div>

              <div class="form-group" [class.has-error]="egressoFormDP.controls.telefone.errors && (egressoFormDP.controls.telefone.touched)">
                <label class="col-sm-2 control-label">Telefone </label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" formControlName="telefone">
                  <app-control-messages [control]="egressoFormDP.controls.telefone"></app-control-messages>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">CPF </label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" disabled value="{{egresso?.aluno.alunoCpf}}">
                  <br />
                </div>
              </div>

              <div class="form-group" [class.has-error]="egressoFormDP.controls.cidade.errors && (egressoFormDP.controls.cidade.touched)">
                <label class="col-sm-2 control-label">Local que reside </label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <input type="name" class="form-control ipt-local-reside" disabled value="{{localReside()}}">
                    <span class="input-group-addon" (click)="searchEndereco()">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                  </div>
                  <app-control-messages [control]="egressoFormDP.controls.cidade"></app-control-messages>
                </div>
              </div>

              <div class="form-group" [class.has-error]="egressoFormDP.controls.estadoCivil.errors && (egressoFormDP.controls.estadoCivil.touched)">
                <label for="inputEmail3" class="col-sm-2 control-label">Estado civil</label>
                <div class="col-sm-10">
                  <select class="form-control" formControlName="estadoCivil">
                    <option value="">Selecione o estado civil</option>
                    <option value="{{estadoCivil.id}}" *ngFor="let estadoCivil of estadosCivis">{{estadoCivil.nome}}</option>
                  </select>
                  <app-control-messages [control]="egressoFormDP.controls.estadoCivil"></app-control-messages>
                </div>
              </div>

              <div class="form-group" [class.has-error]="egressoFormDP.controls.qtdFilhos.errors && (egressoFormDP.controls.qtdFilhos.touched)">
                <label class="col-sm-2 control-label">Nº de filhos </label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" formControlName="qtdFilhos">
                  <app-control-messages [control]="egressoFormDP.controls.qtdFilhos"></app-control-messages>
                </div>
              </div>
            </form>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="tab-footer">
          <button class="btn default">Cancelar</button>
          <button class="btn btn-success" (click)="alterarDP()">Alterar</button>
        </div>

      </mat-tab>
      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <i class="glyphicon glyphicon-thumbs-up"></i>
          <span class="tab-label-title">Redes sociais</span>
        </ng-template>
        <div class="tab-content">

        </div>
      </mat-tab>
      <mat-tab label="Tab 3">
        <ng-template mat-tab-label>
          <i class="glyphicon glyphicon-picture"></i>
          <span class="tab-label-title">Galeria de fotos</span>
        </ng-template>
        <div class="tab-content">
          <form [formGroup]="egressoFormGaleria" role="form" novalidate>
            <div class="row-foto-galeria row-foto-1">
              <div class="col-sm-3">
                <div class="preview-foto-galeria">
                  <i *ngIf="!getUrlFotoGaleria(0)" class="glyphicon glyphicon-picture"></i>
                  <img *ngIf="getUrlFotoGaleria(0)" [src]="getUrlFotoGaleria(0)" accept="image/*">
                </div>
                <input type="file" class="hidden" #fotoGaleria1 (change)="showPreview($event, 0)">
                <button class="btnupl-galeria" mat-raised-button color="primary" (click)="fotoGaleria1.click()">Upload de imagem</button>
              </div>
              <div class="form-group col-sm-9" [class.has-error]="egressoFormGaleria.controls.descricao1.errors && (egressoFormGaleria.controls.descricao1.touched)">
                <textarea class="form-control" formControlName="descricao1" rows="4" placeholder=""></textarea>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-foto-galeria row-foto-2">
              <div class="form-group col-sm-9" [class.has-error]="egressoFormGaleria.controls.descricao2.errors && (egressoFormGaleria.controls.descricao2.touched)">
                <textarea class="form-control" formControlName="descricao2" rows="4" placeholder=""></textarea>
              </div>
              <div class="col-sm-3">
                <div class="preview-foto-galeria">
                  <i *ngIf="!getUrlFotoGaleria(1)" class="glyphicon glyphicon-picture"></i>
                  <img *ngIf="getUrlFotoGaleria(1)" [src]="getUrlFotoGaleria(1)" accept="image/*">
                </div>
                <input type="file" class="hidden" #fotoGaleria2 (change)="showPreview($event, 1)">
                <button class="btnupl-galeria" mat-raised-button color="primary" (click)="fotoGaleria2.click()">Upload de imagem</button>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-foto-galeria row-foto-3">
              <div class="col-sm-3">
                <div class="preview-foto-galeria">
                  <i *ngIf="!getUrlFotoGaleria(2)" class="glyphicon glyphicon-picture"></i>
                  <img *ngIf="getUrlFotoGaleria(2)" [src]="getUrlFotoGaleria(2)" accept="image/*">
                </div>
                <input type="file" class="hidden" #fotoGaleria3 (change)="showPreview($event, 2)">
                <button class="btnupl-galeria" mat-raised-button color="primary" (click)="fotoGaleria3.click()">Upload de imagem</button>
              </div>
              <div class="form-group col-sm-9" [class.has-error]="egressoFormGaleria.controls.descricao3.errors && (egressoFormGaleria.controls.descricao3.touched)">
                <textarea class="form-control" formControlName="descricao3" rows="4" placeholder=""></textarea>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="Tab 4">
        <ng-template mat-tab-label>
          <i class="glyphicon glyphicon-book"></i>
          <span class="tab-label-title">Acadêmico</span>
        </ng-template>
        <div class="tab-content">
          Aqui ele edita as informações acadêmicas
        </div>
      </mat-tab>
      <mat-tab label="Tab 5">
        <ng-template mat-tab-label>
          <i class="glyphicon glyphicon-lock"></i>
          <span class="tab-label-title">Profissional</span>
        </ng-template>
        <div class="tab-content">
          Aqui ele edita as informações profissionais
        </div>
      </mat-tab>
    </mat-tab-group>

    <!--
      <div>

        <form [formGroup]="egressoForm" class="form-horizontal" role="form" novalidate (ngSubmit)="update()">

          <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <h5>* Campos Obrigatórios</h5>
            </div>
          </div>


          <div class="form-group" [class.has-error]="egressoForm.controls.foto.errors && (egressoForm.controls.foto.touched)">
            <label class="col-sm-2 control-label">Foto perfil *</label>
            <div class="col-sm-10">
              <input type="file" formControlName="foto" class="form-control" #fotoPerfil>
              <app-control-messages [control]="egressoForm.controls.foto"></app-control-messages>
            </div>
          </div>

          <div class="form-group" [class.has-error]="egressoForm.controls.nome.errors && (egressoForm.controls.nome.touched)">
            <label class="col-sm-2 control-label">Nome *</label>
            <div class="col-sm-10">
              <input type="name" formControlName="nome" class="form-control">
              <app-control-messages [control]="egressoForm.controls.nome"></app-control-messages>
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a class="btn default" [routerLink]="['/coord/atuacoes-profissionais']">Cancelar</a>
              <button type="submit" class="btn btn-success">{{btndescricao}}</button>
            </div>

          </div>

        </form>

      </div>
    -->

  </mk-box-content>


</mk-box>
