<mk-box header='' [isRemovable]='false' [isCollapsable]='false'>

  <mk-box-header>{{title}}</mk-box-header>

  <mk-box-content>


    <mat-tab-group class="demo-tab-group">

      <!-->Foto Perfil
      <!-->
      <mat-tab label="Tab 1">
        <ng-template mat-tab-label>
          <i class="glyphicon glyphicon-camera"></i>
          <span class="tab-label-title">Foto Perfil</span>
        </ng-template>
        <div class="tab-content">
          <div class="iptFotoPerfil">
            <div class="preview-foto-perfil">
              <i *ngIf="!getUrlFotoPerfil()" class="glyphicon glyphicon-user"></i>
              <img *ngIf="getUrlFotoPerfil()" [src]="getUrlFotoPerfil()" accept="image/*">
            </div>
            <input type="file" class="hidden" #fotoPerfil (change)="showPreview($event)">
            <button mat-raised-button color="primary" (click)="fotoPerfil.click()">Selecionar imagem</button>
          </div>


        </div>
        <div class="tab-footer">
          <button class="btn default">Cancelar</button>
          <button class="btn btn-success" (click)="alterarFotoPerfil()">Alterar</button>
        </div>
      </mat-tab>

      <!-->Dados Pessoais
      <!-->
      <mat-tab label="Tab 2">
        <ng-template mat-tab-label>
          <i class="glyphicon glyphicon-user"></i>
          <span class="tab-label-title">Dados Pessoais</span>
        </ng-template>
        <div class="tab-content">
          <div class="col-lg-12">
            <form [formGroup]="egressoFormDP" class="form-horizontal" role="form" novalidate>

              <div class="form-group" [class.has-error]="egressoFormDP.controls.nome.errors && (egressoFormDP.controls.nome.touched)">
                <label class="col-sm-2 control-label">Nome completo </label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" formControlName="nome">
                  <app-control-messages [control]="egressoFormDP.controls.nome"></app-control-messages>
                </div>
              </div>

              <div class="form-group" [class.has-error]="egressoFormDP.controls.email.errors && (egressoFormDP.controls.email.touched)">
                <label class="col-sm-2 control-label">E-mail </label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" formControlName="email">
                  <app-control-messages [control]="egressoFormDP.controls.email"></app-control-messages>
                </div>
              </div>

              <div class="form-group" [class.has-error]="egressoFormDP.controls.telefone.errors && (egressoFormDP.controls.telefone.touched)">
                <label class="col-sm-2 control-label">Telefone </label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" formControlName="telefone">
                  <app-control-messages [control]="egressoFormDP.controls.telefone"></app-control-messages>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">CPF </label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" disabled value="{{egresso?.aluno.alunoCpf}}">
                  <br />
                </div>
              </div>

              <div class="form-group" [class.has-error]="egressoFormDP.controls.cidade.errors && (egressoFormDP.controls.cidade.touched)">
                <label class="col-sm-2 control-label">Local que reside </label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <input type="name" class="form-control ipt-local-reside" disabled value="{{localReside()}}">
                    <span class="input-group-addon" (click)="pesquisarEnderecoReside()">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                  </div>
                  <app-control-messages [control]="egressoFormDP.controls.cidade"></app-control-messages>
                </div>
              </div>

              <div class="form-group" [class.has-error]="egressoFormDP.controls.estadoCivil.errors && (egressoFormDP.controls.estadoCivil.touched)">
                <label for="inputEmail3" class="col-sm-2 control-label">Estado civil</label>
                <div class="col-sm-10">
                  <select class="form-control" formControlName="estadoCivil">
                    <option value="">Selecione o estado civil</option>
                    <option value="{{estadoCivil.id}}" *ngFor="let estadoCivil of estadosCivis">{{estadoCivil.nome}}</option>
                  </select>
                  <app-control-messages [control]="egressoFormDP.controls.estadoCivil"></app-control-messages>
                </div>
              </div>

              <div class="form-group" [class.has-error]="egressoFormDP.controls.qtdFilhos.errors && (egressoFormDP.controls.qtdFilhos.touched)">
                <label class="col-sm-2 control-label">Nº de filhos </label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" formControlName="qtdFilhos" mask="09">
                  <app-control-messages [control]="egressoFormDP.controls.qtdFilhos"></app-control-messages>
                </div>
              </div>
            </form>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn default">Cancelar</button>
          <button class="btn btn-success" (click)="alterarDP()">Alterar</button>
        </div>

      </mat-tab>

      <!-->Rede Social
      <!-->
      <mat-tab label="Tab 3">
        <ng-template mat-tab-label>
          <i class="glyphicon glyphicon-thumbs-up"></i>
          <span class="tab-label-title">Redes sociais</span>
        </ng-template>
        <div class="tab-content col-sm-12">
          <button class="btn btn-success" (click)="openDialogAddRS()">
            <i class="glyphicon glyphicon-plus green"></i>
          </button>
          <br />
          <br />
          <div class="table-responsive">
            <table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th>Rede Social</th>
                  <th>Link</th>
                </tr>
              </thead>
              <tbody *ngIf="egresso && egresso.aluno.redesAluno">
                <tr>
                  <td *ngIf="!(egresso && egresso.aluno.redesAluno)">
                    Nenhuma rede social cadastrada
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="egresso && egresso.aluno.redesAluno">


                <tr *ngFor="let redeAluno of egresso.aluno.redesAluno">
                  <td>{{redeAluno.redeSocial.redeSocialDescricao}}</td>
                  <td>{{redeAluno.redeAlunoLink}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </mat-tab>

      <!-->Galeria de Fotos
      <!-->
      <mat-tab label="Tab 4">
        <ng-template mat-tab-label>
          <i class="glyphicon glyphicon-picture"></i>
          <span class="tab-label-title">Galeria de fotos</span>
        </ng-template>
        <div class="tab-content">
          <form [formGroup]="egressoFormGaleria" role="form" novalidate>
            <div class="row-foto-galeria row-foto-1">
              <div class="col-sm-3">
                <div class="preview-foto-galeria">
                  <i *ngIf="!getUrlFotoGaleria(0)" class="glyphicon glyphicon-picture"></i>
                  <img *ngIf="getUrlFotoGaleria(0)" [src]="getUrlFotoGaleria(0)" accept="image/*">
                </div>
                <input type="file" class="hidden" #fotoGaleria1 (change)="showPreviewEValidaDesc($event, 0)">
                <button class="btnupl-galeria" mat-raised-button color="primary" (click)="fotoGaleria1.click()">Selecionar imagem</button>
              </div>
              <div class="form-group col-sm-9" [class.has-error]="egressoFormGaleria.controls.descricao1.errors && (egressoFormGaleria.controls.descricao1.touched)">
                <textarea class="form-control" formControlName="descricao1" rows="5" placeholder="">{{getDescricaoGaleriaEgresso(0)}}</textarea>
                <app-control-messages [control]="egressoFormGaleria.controls.descricao1"></app-control-messages>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-foto-galeria row-foto-2">
              <div class="col-sm-3">
                <div class="preview-foto-galeria">
                  <i *ngIf="!getUrlFotoGaleria(1)" class="glyphicon glyphicon-picture"></i>
                  <img *ngIf="getUrlFotoGaleria(1)" [src]="getUrlFotoGaleria(1)" accept="image/*">
                </div>
                <input type="file" class="hidden" #fotoGaleria2 (change)="showPreviewEValidaDesc($event, 1)">
                <button class="btnupl-galeria" mat-raised-button color="primary" (click)="fotoGaleria2.click()">Selecionar imagem</button>
              </div>
              <div class="form-group col-sm-9" [class.has-error]="egressoFormGaleria.controls.descricao2.errors && (egressoFormGaleria.controls.descricao2.touched)">
                <textarea class="form-control" formControlName="descricao2" rows="5" placeholder="">{{getDescricaoGaleriaEgresso(1)}}</textarea>
                <app-control-messages [control]="egressoFormGaleria.controls.descricao2"></app-control-messages>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row-foto-galeria row-foto-3">
              <div class="col-sm-3">
                <div class="preview-foto-galeria">
                  <i *ngIf="!getUrlFotoGaleria(2)" class="glyphicon glyphicon-picture"></i>
                  <img *ngIf="getUrlFotoGaleria(2)" [src]="getUrlFotoGaleria(2)" accept="image/*">
                </div>
                <input type="file" class="hidden" #fotoGaleria3 (change)="showPreviewEValidaDesc($event, 2)">
                <button class="btnupl-galeria" mat-raised-button color="primary" (click)="fotoGaleria3.click()">Selecionar imagem</button>
              </div>
              <div class="form-group col-sm-9" [class.has-error]="egressoFormGaleria.controls.descricao3.errors && (egressoFormGaleria.controls.descricao3.touched)">
                <textarea class="form-control" formControlName="descricao3" rows="5" placeholder="">{{getDescricaoGaleriaEgresso(2)}}</textarea>
                <app-control-messages [control]="egressoFormGaleria.controls.descricao3"></app-control-messages>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
        <div class="tab-footer">
          <button class="btn default">Cancelar</button>
          <button class="btn btn-success" (click)="alterarGaleria()">Alterar</button>
        </div>
      </mat-tab>

      <!--Acadêmico<!-->
      <mat-tab label="Tab 5">

        <ng-template mat-tab-label>
          <i class="glyphicon glyphicon-book"></i>
          <span class="tab-label-title">Acadêmico</span>
        </ng-template>

        <div class="tab-content">
          <div class="col-sm-12 ">

            <!--Inicio - Table com curso/ano de inicio/ano de conclusao<!-->
            <div class="table-responsive">
              <table class="table table-bordered text-center">

                <thead>
                  <tr>
                    <th>Curso</th>
                    <th>Ano de início</th>
                    <th>ano de conclusão</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{egresso?.oferta.ofertaCurso.cursoNome}}</td>
                    <td>{{egresso?.egressoAnoIngresso}}</td>
                    <td>{{egresso?.egressoAnoConclusao}}</td>
                  </tr>
                </tbody>

              </table>
              <!--Inicio - Table com curso/ano de inicio/ano de conclusao<!-->
            </div>
          </div>

          <div class="col-sm-12">
            <hr />
          </div>


          <!--Inicio - btn incluir nova titulação<!-->
          <div class="col-sm-12 btn-add-titulacoes">


            <button class="btn btn-success pull-left" (click)="openDialogAddTL()" title="Incluir nova Titulação">
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </div>
          <!--fim - btn incluir nova titulação<!-->

            <div class="clearfix"></div>

          <!--Inicio - Table titulações cadastradas<!-->
          <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table  table-bordered text-center table-striped">
                <thead>
                  <tr>
                    <th>Título</th>
                    <th>Área</th>
                    <th>Instituição</th>
                    <th>Ano de conclusão</th>
                    <th>Alterar</th>
                  </tr>
                </thead>
                <tbody *ngIf="!(egresso && egresso.tiposFormacao)">
                  <tr>
                    <td colspan="5">
                      Nenhuma titulação cadastrada
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="egresso && egresso.tiposFormacao">


                  <tr *ngFor="let tf of egresso.tiposFormacao">
                    <td>{{tf.titulacao.titulacaoDescricao}}</td>
                    <td>{{tf.tipoFormacaoArea}}</td>
                    <td>{{tf.tipoFormacaoInstituicao}}</td>
                    <td>{{tf.tipoFormacaoAnoConclusao}}</td>
                    <td>
                      <button mat-icon-button color="primary" (click)="openDialogAddTL(tf)">
                        <mat-icon aria-label="">edit</mat-icon>
                      </button>
                    </td>
                  </tr>

                </tbody>

              </table>
            </div>
            <!--fim - Table titulações cadastradas<!-->
          </div>
        </div>
      </mat-tab>

      <!-->Profissional
      <!-->
      <mat-tab label="Tab 6">
        <ng-template mat-tab-label>
          <i class="glyphicon glyphicon-lock"></i>
          <span class="tab-label-title">Profissional</span>
        </ng-template>
        <div class="tab-content">

          <div class="col-sm-12">
            <form [formGroup]="egressoFormAtuacao" class="form-horizontal" role="form" novalidate>

              <!-->inicio -Div trabalha na área
              <!-->
              <div class="form-group">

                <mat-radio-group formControlName="trabalhaArea" (change)="isArea()">
                  <label class="col-sm-2 control-label">Trabalha na área </label>
                  <div class="col-sm-10">
                    <div class="col-xs-6 col-sm-3 col-md-2 pad0">
                      <mat-radio-button value="1"> Sim </mat-radio-button>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 pad0">
                      <mat-radio-button value="2"> Não </mat-radio-button>
                    </div>

                  </div>
                </mat-radio-group>

              </div>

              <!-->fim -Div trabalha na área
              <!-->

              <!-->inicio -Div conteudo restante se trabalha na área
              <!-->

              <hr />


              <!-->Setor
              <!-->

              <div class="form-group" [class.has-error]="egressoFormAtuacao.controls.setor.errors && (egressoFormAtuacao.controls.setor.touched)">
                <mat-radio-group formControlName="setor">
                  <label class="col-sm-2 control-label">Setor </label>
                  <div class="col-sm-10">
                    <div class="col-xs-6 col-sm-3 col-md-2 pad0">
                      <mat-radio-button value="1">Público</mat-radio-button>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 pad0">
                      <mat-radio-button value="2">Privado</mat-radio-button>
                    </div>
                  </div>
                </mat-radio-group>
                <app-control-messages [control]="egressoFormAtuacao.controls.setor"></app-control-messages>
              </div>

              <!-->Empresa
              <!-->
              <div class="form-group" [class.has-error]="egressoFormAtuacao.controls.empresa.errors && (egressoFormAtuacao.controls.empresa.touched)">
                <label class="col-sm-2 control-label">Empresa </label>
                <div class="col-sm-10">
                  <input type="" class="form-control" formControlName="empresa">
                  <app-control-messages [control]="egressoFormAtuacao.controls.empresa"></app-control-messages>
                </div>
              </div>

              <!-->Cargo
              <!-->
              <div class="form-group" [class.has-error]="egressoFormAtuacao.controls.atuacaoProfissionalId.errors && (egressoFormAtuacao.controls.atuacaoProfissionalId.touched)">
                <label class="col-sm-2 control-label">Cargo </label>
                <div class="col-sm-10">
                  <select class="form-control" formControlName="atuacaoProfissionalId">
                    <option value="">Selecione o cargo</option>
                    <option value="{{atuacao.atuacaoProfissionalId}}" *ngFor="let atuacao of atuacoesProfissionais">
                      {{atuacao.atuacaoProfissionalNome}}
                    </option>
                  </select>
                  <app-control-messages [control]="egressoFormAtuacao.controls.atuacaoProfissionalId"></app-control-messages>
                </div>
              </div>

              <!-->Home office
              <!-->
              <div class="form-group" [class.has-error]="egressoFormAtuacao.controls.homeOffice.errors && (egressoFormAtuacao.controls.homeOffice.touched)">
                <mat-radio-group formControlName="homeOffice">
                  <label class="col-sm-2 control-label">Home office </label>
                  <div class="col-sm-10">
                    <div class="col-xs-6 col-sm-3 col-md-2 pad0">
                      <mat-radio-button value="1">Sim</mat-radio-button>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 pad0">
                      <mat-radio-button value="2">Não</mat-radio-button>
                    </div>
                    <app-control-messages [control]="egressoFormAtuacao.controls.homeOffice"></app-control-messages>
                  </div>
                </mat-radio-group>
              </div>

              <!-->Local de trabalho
              <!-->
              <div class="form-group">
                <!-->a msg deixei estática , mas se quiser colocar na constante
                <!-->
                <label class=" col-sm-2 control-label"></label>
                <label class=" col-sm-10">Local de trabalho (cidade / estado, província, região / país).
                  <br />Para a modalidade Home Office, informe a localidade da empresa e não de sua residência.</label>

              </div>

              <!-->Local de trabalho
              <!-->
              <div class="form-group" [class.has-error]="egressoFormAtuacao.controls.reside.errors && (egressoFormAtuacao.controls.reside.touched)">
                <label class="col-sm-2 control-label">Local de trabalho </label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <input class="form-control ipt-local-reside" formControlName="reside">
                    <span class="input-group-addon" (click)="pesquisaLocalTrabalha()">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                  </div>
                  <app-control-messages [control]="egressoFormAtuacao.controls.reside"></app-control-messages>
                </div>
              </div>


              <!-->Salário
              <!-->
              <div class="form-group" [class.has-error]="egressoFormAtuacao.controls.faixaSalarialId.errors && (egressoFormAtuacao.controls.faixaSalarialId.touched)">
                <label class="col-sm-2 control-label">Salário (faixa salarial em R$) </label>
                <div class="col-sm-10">
                  <select class="form-control" formControlName="faixaSalarialId">
                    <option value="">Selecione a faixa salarial</option>
                    <option value="{{faixa.faixaSalarialId}}" *ngFor="let faixa of faixasSalariais">
                      <span *ngIf="!faixa.faixaSalarialFinal">
                        >= {{faixa.faixaSalarialInicial}}
                      </span>
                      <span *ngIf="faixa.faixaSalarialFinal">
                        {{faixa.faixaSalarialInicial}} - {{faixa.faixaSalarialFinal}}
                      </span>
                    </option>
                  </select>
                  <app-control-messages [control]="egressoFormAtuacao.controls.faixaSalarialId"></app-control-messages>
                </div>
              </div>

            </form>


            <!-->fim -Div conteudo restante se trabalha na área
            <!-->
          </div>




        </div>
        <div class="clearfix"></div>

        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn default" (click)="alterarAtuacao()">Cancelar</button>
          <button class="btn btn-success" (click)="alterarAtuacao()">Alterar</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mk-box-content>


</mk-box>
