/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*====== Box Layout ==============
.box-header{
  /*background-color: #1E88E5;
  color:#fff;
}*/

.form-control{
  border-radius: 4px !important;
}

.help-block {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.95em;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:visited {
    background-color: #8064A2;
}

.wrapper{
  min-height: 100% !important;
}

.box-header{
  background-color: #418099;
  color: #ffffff;
  border: none;
}
.logo-lg{
  font-size: 16px !important;
  font-weight: 500;
  padding-left: 0px !important;
}

.sidebar-menu li a.active{
  color: rgb(48, 177, 216) !important;
}

.btn, .form-control{
  border-color:  gray;
}

.ipt-local-reside{
  border-right: 0;
  border-radius: 4px 0 0 4px !important;
}
