<mk-box header='' [isRemovable]='false' [isCollapsable]='false'>

  <mk-box-header>{{title}}</mk-box-header>

  <mk-box-content>

    <div>

      <form [formGroup]="coordEgressoform" class="form-horizontal" role="form" novalidate (ngSubmit)="save()">

        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <h5>* Campos Obrigatórios</h5>
          </div>
        </div>

        <!-- Campo Nome -->

        <div class="form-group" [class.has-error]="coordEgressoform.controls.nome.errors && (coordEgressoform.controls.nome.touched)">
          <label class="col-sm-2 control-label">Nome *</label>
          <div class="col-sm-10">
            <input type="name" formControlName="nome" class="form-control">
            <app-control-messages [control]="coordEgressoform.controls.nome"></app-control-messages>
          </div>
        </div>

        <!-- Campo CPF-->

        <div class="form-group" [class.has-error]="coordEgressoform.controls.cpf.errors && coordEgressoform.controls.cpf.touched">
          <label class="col-sm-2 control-label">CPF *</label>
          <div class="col-sm-10">
            <input type="CPF" formControlName="cpf" class="form-control" mask="000.000.000-00">
            <app-control-messages [control]="coordEgressoform.controls.cpf"></app-control-messages>
          </div>
        </div>

        <!-- Campo Nome -->

        <div class="form-group" [class.has-error]="coordEgressoform.controls.anoDeIngresso.errors && (coordEgressoform.controls.anoDeIngresso.touched)">
          <label class="col-sm-2 control-label">Ano de ingresso *</label>
          <div class="col-sm-10">
            <input type="number" formControlName="anoDeIngresso" class="form-control">
            <app-control-messages [control]="coordEgressoform.controls.anoDeIngresso"></app-control-messages>
          </div>
        </div>

        <!-- Campo Nome -->

        <div class="form-group" [class.has-error]="coordEgressoform.controls.anoDeConclusao.errors && (coordEgressoform.controls.anoDeConclusao.touched)">
          <label class="col-sm-2 control-label">Ano de conclusão *</label>
          <div class="col-sm-10">
            <input type="number" formControlName="anoDeConclusao" class="form-control">
            <app-control-messages [control]="coordEgressoform.controls.anoDeConclusao"></app-control-messages>
          </div>
        </div>


      <!-- Btn cancelar e Cadastrar-->
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <a class="btn default" [routerLink]="['/coord/egressos']">Cancelar</a>
            <button type="submit" class="btn btn-success">{{btnDescricao}}</button>
          </div>

        </div>


      </form>
    </div>

  </mk-box-content>


</mk-box>
