<mk-box header='' [isRemovable]='false' [isCollapsable]='false'>

  <mk-box-header>{{title}}</mk-box-header>

  <mk-box-content>

    <div class="alert alert-default">
      <p class="text-small">
        * Egressos representa a quantidade de egressos que concluiram o curso neste ano
      </p>

      <p class="text-small ">
        ** Atualizados representa quantos dos egressos acessaram o site e atualizaram seus dados
      </p>

      <hr>

      <div class="row">
        <div class="col-sm-4 text-bold">Total de egressos: {{ totalEgressos(consultasEstatisticasDoSistema) }}</div>
        <div class="col-sm-4 text-bold">Atualizados: {{ totalAtualizados(consultasEstatisticasDoSistema) }} </div>
        <div class="col-sm-4 text-bold">% Atualizados/Egressos: {{ percentualAtualizados(consultasEstatisticasDoSistema) }} %</div>
      </div>

      </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Ano de Conclusão</th>
            <th>Egressos *</th>
            <th>Atualizados **</th>
            <th>Percentual</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ces of consultasEstatisticasDoSistema" >
            <td>{{ces.anoConclusao}} </td>
            <td>{{ces.qtdEgressos}} </td>
            <td>{{ces.atualizados}} </td>
            <td> </td>
          </tr>
        </tbody>

      </table>
    </div>

  </mk-box-content>
</mk-box>
