.footer{
  text-align: center;
  padding: 5px 10px;
}
.footer a{
  font-weight: 600;
  color: #3F51B5 !important;
}

.login-page .logo{
    height: 100px;
    background-size: 140px 70px;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
}

.login-page .login-box .logo{
    margin-bottom: 0;
}

.title-auth{
    color: #226d99;
    font-weight: 600;
    text-align: center;

    padding: 15px 0 !important;

    font-size: 14px;
    text-transform: uppercase;
}

.login-page{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100vh;
    margin: 0;
    width: 100%;
    max-width: 100%;
    display: table;
}

.login-box{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.login-box .card{
    display: inline-block;
    vertical-align: middle;
    max-width: 360px;
    padding: 16px;
    text-align: left;
    background-color: #f7f7f7;
    border-radius: 15px;
}



.login-box::after{
    content: " ";
    display: table;
    clear: both;
}

@media (max-width: 599px) {
    .login-page{
        padding: 0;
    }
    .login-page .login-box .card{

        margin: 0 auto;
    }

    .login-page .login-box .card .footer{

        margin-top: 30px;

    }

    .container-fluid{
      padding-left: 0;
      padding-right: 0;
    }

    .card .body{
      padding: 10px;
    }
}

input, select{
  border-radius: 0 !important;
  border-color: #d2d6de !important;
}

.input-group-addon{
  background-color: #3f51b5;
  color: #f0f0f0;
}
